 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2" style="text-align:center">
                    <h4>Sworn Translator</h4>
                    <!-- <p>From English into French, and from French into English. <br/>
                    From English into Italian, and from Italian into English. <br />
                    English &#8633; French <br />
                    English &#8633; Italian <br /> -->
                    <p>
                    English &rlarr; French <br />
                    English &rlarr; Italian <br />
                    All types of documents <br />
                    Fast and reliable. </p>
                    <p>
                    <a href="#contact" class="">Click here for a free quote.</a>
                    </p>
                </div>
                <div class="col-lg-4" style="text-align:center">
                    <h4>Traducteur Assermenté</h4>
                    <!-- <p>De l'anglais vers le français, et du français vers l'anglais. De l'anglais vers l'italien, et de l'italien vers l'anglais.-->
                    <p>
                    Anglais &rlarr; Français <br />
                    Anglais &rlarr; Italien <br />
                    Tout types de documents. <br />
                    Rapide et fiable. </p>
                    <p>
                    <a href="#contact" class="">Obtenez votre devis gratuit.</a>
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!-- <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>-->
                    <a href="#contact" class="btn btn-lg btn-outline">Contact me.</a>
                </div>
            </div>
        </div>
    </section>
